/*root: can use it to create a variable in CSS selectors, and serves as a quick and easy way to change color */
:root {
    --coral: #d16c6c;
    --lavender: #737aca;
    --navy: #3d4079;
    --white: #f8f5f5;
}

/* This is an universal selector so it will select for all the elements. */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* ::selection: this highlights what the user selects on the webpage */
/* var: this allows the selection of a color from the root section; here the background color of the highlighted section will be lavender */ 
::selection {
    background-color: var(--lavender);
    color: var(--white)
}

html {
    font-size: 62.5%
}

/* This selects for all elements within the header */
.header {
    padding: 20px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: var(--navy);
    text-align: center;
}

/* This selects for all <h1> elements within the <header> tag */
.header h1 {
    display: inline-block;
    font-size: 80px;
    text-align: center;
}

/* More specifically here, it is selecting for the name only within the <h1> tag that is within the <header> tag */
.header h1 .name {
    color: var(--coral);
    text-align: center;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.image{ 
    margin: 3%;
    position:relative;
}

/* Here, this is increasing the clarity of the images taken */
.img {
    backface-visibility: hidden;
    --webkit-transform: translateZ(0);
    transform: translateZ(0);
}

p {
    font-size: 18px;
    text-align: left;
}

a {
    color: var(--lavender);
    font-size: 17.5px;
    text-decoration: none;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* display:flex: here it used to define that all elements within are now within a flex box */
/* flex-direction: the boxes will be arranged in rows */
/* justify-content: used to distribute space around and in-between the flex boxes */
/* transition: allows for the flex-box to expand out and adds more to the design */
.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100%;
    padding: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: var(--white);
    color:var(--navy);

    border: 2px dotted var(--navy);
    border-radius: 4px;
    transition: width 2s linear 1s;
}

/* Here only the titles are being altered within the boxes; the titles also have their own box */
.content .titles {
    position: relative; 
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--white);
    color: var(--navy);
    border: 2px dotted var(--navy);
    border-radius: 4px;
    transition: width 2s linear 1s;
}

/* When the mouse hovers over the title, this allows for a glow to occur around the box */
.content:hover .titles {
    box-shadow: inset 0px 0px 8px var(--coral), 0 0 15px var(--coral);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.75rem; 
    line-height: 1.5;
    color: var(--navy);
    background-color: var(--white)
}

main {
    width: 96%;
    margin: 2rem auto;
}
/* Here this addresses the links that are within the <li> tag */
li{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    text-align: right;
}

/* This selects for the <h3> within the <footer> */
.footer h3 {
    margin: 3rem;
    text-align: center;
    font-size: 20px;
    color: var(--navy);
    float: right;
}

.text-right {
    text-align: right;
}

/* @media screen: allows for screen adaptation when minimizing/maximizing a window. */
@media screen and (max-width: 992px) {
    .header {
      width: 50%
    }
}
  
  @media screen and (max-width: 768px) {
    .header {
      width: 100%
    }
}